aside {
  position: fixed;
  top: 0;
  bottom: 0;
  width: $logo-width;

  .aside-container {
    height: 100%;

    .logo-container {
      min-height: $logo-height + 2 * $padding-top-aside-header;
      position: relative;
      border-bottom: 1px solid color("grey", "lighten-2");
      background-color: $logo-container-background;
      z-index: 100;

      .logo {
        position: absolute;
        top: 5px;
        bottom: 5px;
        background-image: url("img/logo.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: $logo-width;
      }
    }

    .navigation {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 70px;

      .collapsible {
        margin: 0;
        border: 0;
        box-shadow: none;
      }
    }
  }
}