.rfe-classes {
  .input-field {
    padding: 0 150px 0 10px;
  }

  .classes-list {
    > div {
      &:last-child {
        margin-bottom: 25px;
      }
    }
    .class-item {
      border: 1px solid color('grey', 'lighten-2');
      border-radius: 4px;
      margin-top: 15px;
      position: relative;
      overflow: hidden;

      &:hover {
        .class-edit-item {
          display: block;
        }
      }

      .class-edit-item {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.6);
        border: 5px solid #fff;
        border-radius: 8px;
        text-align: center;

        i {
          cursor: pointer;
          font-size: 2rem;
          border-radius: 50%;
          border: 3px solid #fff;
          padding: 10px;
          margin-right: 10px;
          line-height: 85px;
          color: #fff;

          &:hover {
            border: 3px solid color('teal', 'lighten-2');
            background-color: color('teal', 'lighten-2');
          }
        }
      }

      .future-item-title {
        margin-top: 1.2rem;
        padding: 0 10px;
        font-weight: bold;
      }

      .future-class-lecturers {
        border: none;
        border-top: 1px solid color('grey', 'lighten-2');
        margin: 0;

        .lecturer {
          position: relative;
          padding: 5px 10px;
          border-bottom: 1px solid color('grey', 'lighten-2');

          .circular-image {
            width: 45px;
            height: 45px;
            border-radius: 150px;

            img {
              opacity: 0;
              filter: alpha(opacity=0);
            }
          }

          .lecturer-name {
            position: absolute;
            top: 0;
            left: 65px;
          }
        }

        .remove-lecturer-from-class {
          position: absolute;
          cursor: pointer;
          right: 20px;
          top: 0;

          i {
            font-size: 2.5rem;
          }
        }
      }

      .available-class-types {
        padding: 0 10px 10px 10px;
      }

      .available-years {
        padding: 0 10px 10px 10px;
        color: #9e9e9e;

        .notification {
          padding-bottom: 5px;
        }

        .year {
          display: inline-block;
          padding-right: 20px;

          label {
            padding-left: 25px;
          }
        }
      }

      .item-title {
        padding: 10px 10px 0 10px;
        font-weight: bold;
        font-size: 1.1rem;
        overflow: hidden;
        position: relative;
      }

      .class-types {
        border-bottom: 1px solid color('grey', 'lighten-2');
        font-size: 0.8rem;
        padding: 0 10px 10px 10px;

        .class-type {
          display: inline-block;
        }
      }

      .class-lecturers {
        margin: 0;

        .lecturer {
          position: relative;
          padding: 5px 10px;
          border-bottom: 1px solid color('grey', 'lighten-2');

          .circular-image {
            width: 45px;
            height: 45px;
            border-radius: 150px;

            img {
              opacity: 0;
              filter: alpha(opacity=0);
            }
          }

          .lecturer-name {
            position: absolute;
            top: 0;
            left: 65px;
          }
        }
      }

      .add-new-area {
        border-top: 1px solid color('grey', 'lighten-2');
        font-size: 2rem;
        color: color('grey', 'lighten-1');

        &.drag-active {
          border: 2px solid color('grey', 'darken-4');
          color: color('grey', 'darken-4');

          &.draggable-over {
            background-color: color("teal", "base");
            color: $logo-container-background;
          }
        }
      }

      .edit-item {
        position: absolute;
        bottom: 5px;
        right: 5px;
      }
    }
  }

  .add-button {
    position: fixed;
    top: 10px;
    right: 10px;
  }

  .cancel-button {
    position: fixed;
    top: 10px;
    right: 60px;
  }

  .save-button {
    position: fixed;
    top: 10px;
    right: 10px;
  }
}

.lecturers-list {
  padding: 0 10px 10px 10px;

  .input-field {
    label {
      left: 0;
    }
  }

  li {
    padding: 0.5rem;
    border-bottom: 1px solid color('grey', 'lighten-1');
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: all-scroll;
    background-color: #fff;
    border-radius: 4px;
  }
}