.staff-list {
  > div {
    &:last-child {
      margin-bottom: 25px;
    }
  }

  .staff-item {
    padding: 10px 10px 10px 95px;
    position: relative;
    min-height: 95px;
    margin: 10px 0 0 0;
    border: 1px solid color('grey', 'lighten-2');
    border-radius: 8px;

    &:hover {
      .staff-edit-item {
        display: block;
      }
    }

    .staff-edit-item {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.6);
      border: 5px solid #fff;
      border-radius: 8px;
      text-align: center;

      i {
        cursor: pointer;
        font-size: 2rem;
        border-radius: 50%;
        border: 3px solid #fff;
        padding: 10px;
        margin-right: 10px;
        line-height: 85px;
        color: #fff;

        &:hover {
          border: 3px solid color('teal', 'lighten-2');
          background-color: color('teal', 'lighten-2');
        }
      }
    }

    .circular-image {
      width: 75px;
      height: 75px;
      border-radius: 150px;
      position: absolute;
      left: 10px;
      top: 10px;

      img {
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }

    .person-name {
      font-weight: bold;
    }

    .person-rank {
      font-style: italic;
    }
  }
}