body {
    min-width: 600px;
}

header {
    padding-left: 200px;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
