<div class="rfe-classes classes-aside">

    <div class="input-field">
        <input id="classFind" type="text"
               fuzzy="filteredClassItems"
               original-items="classItems"
               ng-model="searchExpr"
               keys="{{['title', 'lecturers.name.full']}}"
               ng-disabled="newItemIsShown"/>
        <label for="classFind">Предмет или преподаватель</label>
    </div>

    <div class="classes-list row">

        <!--existing classes-->
        <div ng-repeat="class in filteredClassItems" class="col s12 m12 l12">
            <div class="class-item"
                 data-drag="!class.lecturers.length"
                 data-jqyoui-options="{revert: true, zIndex: 9999}"
                 jqyoui-draggable="{placeholder: 'keep', onStart: 'onStart'}"
                 ng-model="customClassModel"
                 ng-style="!class.lecturers.length ? {'cursor': 'all-scroll'} : null">
                <div class="item-title valign-wrapper">
                    <span class="valign">{{class.title}}</span>
                </div>
                <div ng-repeat="type in class.types">
                    <div class="class-types"
                         data-drag="true"
                         data-jqyoui-options="{revert: true, zIndex: 9999}"
                         jqyoui-draggable="{placeholder: 'keep', onStart: 'onStart'}"
                         ng-model="customClassModel">
                        <div class="class-type">
                            <span>{{type}}</span>
                        </div>
                    </div>
                    <ul class="class-lecturers">
                        <li class="lecturer" ng-repeat="lecturer in class.lecturers"
                            data-drag="true"
                            data-jqyoui-options="{revert: true, zIndex: 9999}"
                            jqyoui-draggable="{placeholder: 'keep', onStart: 'onStart'}"
                            ng-model="customClassModel">
                            <p class="lecturer-name">{{lecturer.name.initials}} {{lecturer.name.surname}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>