<div class="aside-container z-depth-1">
    <div class="logo-container">
        <div class="logo"></div>
    </div>

    <div class="navigation">
        <ul class="collapsible" collapsible>
            <li>
                <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>First</div>
                <div class="collapsible-body">
                    <a ui-sref="main.home">Yankee go home</a>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="mdi-maps-place"></i>Second</div>
                <div class="collapsible-body">
                    <a ui-sref="main.custom">Yankee go custom</a>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Third</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
        </ul>
    </div>
</div>