<div class="rfe-classes">

    <div class="classes-list row">

        <div ng-repeat="class in classItems" class="col s12 m12 l6">
            <div class="class-item">
                <div class="item-title valign-wrapper">
                    <span class="valign">{{class.title}}</span>
                </div>
                <div class="class-types">
                    <div class="class-type" ng-repeat="type in class.types">
                        <span>{{type}}</span><span ng-show="!$last">,&nbsp;</span>
                    </div>
                </div>
                <ul class="class-lecturers collection">
                    <li class="lecturer collection-item avatar" ng-repeat="lecturer in class.lecturers" >
                        <img src="http://png-4.findicons.com/files/icons/1072/face_avatars/300/i03.png" class="circle">
                        <p>{{lecturer.name.full}}</p>
                    </li>
                </ul>
                <div class="add-new-area center-align">
                    <i class="mdi-content-add"></i>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="add-button waves-effect valign-wrapper">-->
        <!--<i class="mdi-content-add-circle-outline"></i>-->
        <!--<span>Add class</span>-->
    <!--</div>-->
</div>