<div class="rfe-groups">

    <form class="add-group row" ng-submit="saveItem()">
        <div class="col s4 m4 l4">
            <div class="input-field">
                <input id="group-title" type="text" ng-model="newGroupItem.title"/>
                <label for="group-title">Номер</label>
            </div>
        </div>
        <div class="col s6 m6 l6">
            <div class="input-field">
                <input id="group-year" type="text" ng-model="newGroupItem.year"/>
                <label for="group-year">Курс</label>
            </div>
        </div>
        <div class="col s2 m2 l2 add-button">
            <button type="submit" class="btn-floating waves-effect waves-light right">
                <i class="mdi-content-add"></i>
            </button>
        </div>
    </form>

    <div class="row years-list">
        <div ng-repeat="(year,groups) in years track by $index | orderBy: 'year'" class="col s12 m12 l12 year-group">
            <div class="year">
                <span class="value">{{year}}</span>
            </div>
            <div class="groups-list">
                <span class="group-item" ng-repeat="group in groups track by group._id | orderBy: 'title'">
                    <span class="group-title">{{group.title}}</span>
                    <div class="group-edit-item">
                        <i class="mdi-action-highlight-remove" ng-click="delete(group)"></i>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>