<ul class="staff-list">

    <div class="input-field">
        <input id="staffInput" type="text"
               fuzzy="filteredStaffItems"
               original-items="staffItems"
               ng-model="searchExpr"
               keys="{{['name.full']}}"/>
        <label for="staffInput">Преподаватель</label>
    </div>

    <li ng-repeat="staffItem in filteredStaffItems | orderBy: 'name.full'"
        data-drag="true"
        data-jqyoui-options="{revert: true, opacity: 0.75, zIndex: 150}"
        jqyoui-draggable="{animate:true, onStart: 'onStartDragging', onStop: 'onStopDragging'}"
        ng-model="staffItem">
        {{staffItem.name.full}}
    </li>
</ul>