<ul class="main-menu" ng-controller="mainMenuCtrl">
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.staff')">
        <i class="small mdi-action-wallet-travel"></i>
        <span>Преподаватели</span>
    </li>
    <!--<li class="main-menu-item waves-effect" ng-click="$state.go('main.preferences')">-->
        <!--<i class="small mdi-editor-insert-invitation"></i>-->
        <!--<span>Предпочтения</span>-->
    <!--</li>-->
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.rooms')">
        <i class="small mdi-action-home"></i>
        <span>Аудитории</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.groups')">
        <i class="small mdi-action-account-child"></i>
        <span>Группы</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.classes')">
        <i class="small mdi-action-assignment"></i>
        <span>Предметы</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.schedule')">
        <i class="small mdi-av-web"></i>
        <span>Расписание</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.settings')">
        <i class="small mdi-action-settings"></i>
        <span>Настройки</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.announcements')">
        <i class="small mdi-action-announcement"></i>
        <span>Объявления</span>
    </li>
</ul>