<ul class="main-menu" ng-controller="mainMenuCtrl">
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.staff')">
        <i class="small mdi-action-wallet-travel"></i>
        <span>&#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1080;</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.rooms')">
        <i class="small mdi-action-home"></i>
        <span>&#1040;&#1091;&#1076;&#1080;&#1090;&#1086;&#1088;&#1080;&#1080;</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.groups')">
        <i class="small mdi-action-account-child"></i>
        <span>&#1043;&#1088;&#1091;&#1087;&#1087;&#1099;</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.classes')">
        <i class="small mdi-action-assignment"></i>
        <span>&#1055;&#1088;&#1077;&#1076;&#1084;&#1077;&#1090;&#1099;</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.schedule')">
        <i class="small mdi-av-web"></i>
        <span>&#1056;&#1072;&#1089;&#1087;&#1080;&#1089;&#1072;&#1085;&#1080;&#1077;</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.settings')">
        <i class="small mdi-action-settings"></i>
        <span>&#1053;&#1072;&#1089;&#1090;&#1088;&#1086;&#1081;&#1082;&#1080;</span>
    </li>
    <li class="main-menu-item waves-effect" ng-click="$state.go('main.announcements')">
        <i class="small mdi-action-announcement"></i>
        <span>&#1054;&#1073;&#1098;&#1103;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103;</span>
    </li>
</ul>