<div class="rfe-rooms">
    
    <form class="add-room row" ng-submit="saveItem()">
        <div class="input-field">
            <input id="room-title" type="text" ng-model="newRoomItem.title"/>
            <label for="room-title">Номер аудитории</label>
        </div>
        <div class="available-room-types">
            <div class="room-type" ng-repeat="type in availableRoomTypes">
                <input type="checkbox" id="room-type-{{$index}}"
                       checklist-model="newRoomItem.types"
                       checklist-value="type"/>
                <label for="room-type-{{$index}}">{{type}}</label>
            </div>
        </div>
        <a class="add-button btn-floating waves-effect waves-light" ng-click="saveItem()">
            <i class="mdi-content-add"></i>
        </a>
    </form>

    <div class="rooms-list">
        <div ng-repeat="room in rooms | orderBy: 'title'" class="room-item">
            <span class="room-title">{{room.title}}</span>
            <div class="room-edit-item">
                <i class="mdi-action-highlight-remove" ng-click="deleteItem(room)"></i>
            </div>
        </div>
    </div>

</div>