<div class="rfe-schedule">
    <div class="row">
        <div class="input-field col s6">
            <select ng-model="selectedYear"
                    ng-options="year + ' курс' for year in years"
                    class="browser-default"
                    ng-change="changeGroups(selectedYear)"></select>
        </div>
        <div class="input-field col s6">
            <select ng-model="selectedGroup"
                    ng-options="'Группа ' + group.title for group in groups"
                    class="browser-default"
                    ng-change="downloadSchedule(selectedGroup)"></select>
        </div>
    </div>

    <div class="container">
        <div ng-repeat="day in schedule" class="row day">
            <span class="title">{{moment().day($index + 1).format('dddd')}}</span>
            <div ng-repeat="class in day" class="day-class" ng-controller="ClassItemCtrl"
                 data-drop="true"
                 data-jqyoui-options="{activeClass: 'drag-active', hoverClass: 'draggable-over', tolerance: 'pointer'}"
                 jqyoui-droppable="{onDrop: 'onDrop', multiple: true}"
                 ng-model="class"
                    ng-class="{'ng-drag-active': isAvailable}">
                <span ng-show="!class.length" class="placeholder">{{$index + 1}}</span>
                <div ng-repeat="dupe in class" class="dupe" ng-show="class.length"
                     available-rooms="availableRooms"
                     available-rooms-on="dupe"
                     selected-room="dupe.room"
                     room-day="{{$parent.$parent.$index}}"
                     room-index="{{$parent.$index}}">
                    <div class="class-item row">
                        <div class="col s8">
                            <span>{{dupe.title}}</span>
                            <br/>
                            <span ng-show="dupe.type">{{::dupe.type}}</span>
                            <span ng-show="dupe.lecturer.name">,</span>
                            <span>{{::dupe.lecturer.name.surname}} {{::dupe.lecturer.name.initials}}</span>
                        </div>
                        <div class="available-rooms col s4" ng-show="dupe.room">
                            <select ng-options="room.title for room in availableRooms"
                                    ng-change="saveItem($parent.$parent.$index, $parent.$index, dupe)"
                                    ng-model="dupe.room"
                                    class="browser-default"></select>
                        </div>
                    </div>
                    <div class="remove-class" ng-click="removeClass(dupe)" ng-show="dupe.title">
                        <i class="mdi-action-highlight-remove"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

