<div class="rfe-schedule">
    <div class="row">
        <div class="input-field col s6">
            <select ng-model="selectedYear"
                    ng-options="year.number for year in years"
                    class="browser-default"
                    ng-change="changeGroups(selectedYear)"></select>
        </div>
        <div class="input-field col s6">
            <select ng-model="selectedGroup"
                    ng-options="group.title for group in groups"
                    class="browser-default"
                    ng-change="downloadSchedule()"></select>
        </div>
    </div>

    <div class="container">
        <div ng-repeat="day in schedule" class="day">
            <span class="title">{{moment().day($index + 1).format('dddd')}}</span>
            <div ng-repeat="class in day">
                <span>{{class.title}} {{$index}}</span>
            </div>
            <button ng-click="addItem(day)">Add</button>
        </div>
    </div>
</div>

