<div class="rfe-staff">

    <div class="input-field">
        <input id="classFind" type="text"
               fuzzy="filteredStaffItems"
               original-items="staffItems"
               ng-model="searchExpr"
               keys="{{['name.full']}}"
               ng-disabled="newItemIsShown"/>
        <label for="classFind">&#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100;</label>
    </div>

    <div class="staff-list row">

        <!--new class-->
        <div class="col s12 m12 l12" ng-show="newItemIsShown">
            <div class="class-item">
                <div class="future-item-title input-field">
                    <input placeholder="&#1060;&#1072;&#1084;&#1080;&#1083;&#1080;&#1103;" id="lecturerSurname" type="text" ng-model="newStaffItem.name.surname">
                    <label class="active" for="lecturerSurname">&#1060;&#1072;&#1084;&#1080;&#1083;&#1080;&#1103;</label>
                </div>
                <div class="future-item-title input-field">
                    <input placeholder="&#1048;&#1084;&#1103;" id="lecturerFirstName" type="text" ng-model="newStaffItem.name.first">
                    <label class="active" for="lecturerFirstName">&#1048;&#1084;&#1103;</label>
                </div>
                <div class="future-item-title input-field">
                    <input placeholder="&#1054;&#1090;&#1095;&#1077;&#1089;&#1090;&#1074;&#1086;" id="lecturerPatronymic" type="text" ng-model="newStaffItem.name.patronymic">
                    <label class="active" for="lecturerPatronymic">&#1054;&#1090;&#1095;&#1077;&#1089;&#1090;&#1074;&#1086;</label>
                </div>
                <div class="future-item-title input-field">
                    <input placeholder="&#1044;&#1086;&#1083;&#1078;&#1085;&#1086;&#1089;&#1090;&#1100;" id="lecturerPosition" type="text" ng-model="newStaffItem.position">
                    <label class="active" for="lecturerPosition">&#1044;&#1086;&#1083;&#1078;&#1085;&#1086;&#1089;&#1090;&#1100;</label>
                </div>
                <div class="future-item-title input-field">
                    <input placeholder="&#1047;&#1074;&#1072;&#1085;&#1080;&#1077;" id="lecturerRank" type="text" ng-model="newStaffItem.rank">
                    <label class="active" for="lecturerRank">&#1047;&#1074;&#1072;&#1085;&#1080;&#1077;</label>
                </div>
                <div class="future-item-title input-field">
                    <input placeholder="&#1040;&#1076;&#1088;&#1077;&#1089;(URL) &#1080;&#1079;&#1086;&#1073;&#1088;&#1072;&#1078;&#1077;&#1085;&#1080;&#1103;" id="lecturerAvatar" type="text" ng-model="newStaffItem.avatar">
                    <label class="active" for="lecturerAvatar">&#1040;&#1076;&#1088;&#1077;&#1089;(URL) &#1080;&#1079;&#1086;&#1073;&#1088;&#1072;&#1078;&#1077;&#1085;&#1080;&#1103;</label>
                </div>
            </div>
        </div>

        <div ng-repeat="person in filteredStaffItems | orderBy: 'name.full'" class="col s12 m12 l6">
            <div class="staff-item">
                <div class="circular-image" style="
                background: url('{{person.avatar}}') no-repeat;
                background-position: 0 -10px;
                background-size: cover;">
                    <img ng-src="{{person.avatar}}"/>
                </div>
                <div class="person-position">{{person.position}}</div>
                <div class="person-name">{{person.name.full}}</div>
                <div class="person-rank">{{person.rank}}</div>

                <div class="staff-edit-item">
                    <i class="mdi-action-delete" ng-click="deleteItem(person)"></i>
                    <i class="mdi-editor-mode-edit" ng-click="editItem(person)"></i>
                </div>
            </div>
        </div>
    </div>


    <a class="add-button btn-floating waves-effect waves-light" ng-click="newItemIsShown = true" ng-show="!newItemIsShown">
        <i class="mdi-content-add"></i>
    </a>

    <a class="cancel-button btn-floating waves-effect waves-light" ng-click="clearItem({show: false})" ng-show="newItemIsShown">
        <i class="mdi-navigation-close"></i>
    </a>

    <a class="save-button btn-floating waves-effect waves-light" ng-click="saveItem()" ng-show="newItemIsShown">
        <i class="mdi-navigation-check"></i>
    </a>
</div>